form.signup,
form.login {
  margin-top: 30px;
}

#collapsibleNavbar{
  position: fixed;
  background-color: #ff8013;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #000;
  width: 100%;
  height: auto;
}
body .bg-img {
  background-repeat: no-repeat;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
}

body nav {
  font-size: 15px;
  letter-spacing:.5rem;
  text-align: left;
  position: center;
  text-transform: uppercase;
  background-color: #e47c06 !important;
  background-color: fixed;
 
}
a:link {
  color: #f3ebeb;
}

/* visited link */
a:visited {
  color: rgb(243, 239, 239);
}
a:hover {
  color: rgb(3, 1, 0);
}


.fh5co-banner-text-box .quote-box {
  max-width: 855px;
  max-height: 400px;
  padding: 90px 200;
}

#combat {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-shadow: 8px 8px 6px #b64c05;
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: auto;
}

.fh5co-banner-text-box .quote-box h2 {
  font-family: 'Lato', sans-serif, italic;
  font-weight: 700;
  color: #fff;
  font-size: 0px;
  background-image: url("css/images/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: top, right;
  background-size: 56%, 100%;
  box-shadow: 10px 10px 20px #cc6505;
  width: 100%;
  height: auto;
  
}
.fh5co-banner-text-box .quote-box h2 span {
  color: #ff8013;
  font-size: 34px;
}
.fh5co-banner-text-box .quote-box::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 38px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
}

#bulk{
  padding-top: 20px;
  padding-bottom: 40px;
}
#bulk-img {
    background: url("css/images/gym2.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60% 100%;
    padding: 80px 20px;
    /* padding-top: 60px; */
    position: left;
    box-shadow: 10px 10px 20px #cc6505;
  }
#lean1 {
  padding-top: 20px;
  padding-bottom: 50px;
}
#lean-img{
  background: url("css/images/g1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 26% 100%;
  padding: 80px 0;
  padding-top: 60px;
  position: right;
  box-shadow: -10px 10px 15px #cc6505;
  
}

#hitt {
  padding-top: 30px;
  padding-bottom: 40px;
}
#hitt-img{
  background: url("css/images/rode-gym.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30% 100%;
  padding: 80px 0;
  padding-top: 60px;
  position: right;
  box-shadow: 10px 10px 20px #cc6505;
}

.fh5co-calc h2, .fh5co-about-us h2 {
  color: #ff8013;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
}

.fh5co-calc hr, .fh5co-about-us hr {
  border-color: #ff8013;
  border-width: 5px;
  max-width: 100px;
  margin-left: 0;
  border-radius: 5px;
}

.fh5co-about-us {
  background: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.fh5co-about-us p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.fh5co-about-us hr {
  border-color: #fff;
  margin-left: 50px;
  margin-top: 5px;
}
.fh5co-about-us a {
  color: #fff !important;
  border-color: #4e2b0d;
  border-radius: 0;
  min-width: 150px;
}

footer {
  background: #101011;
  color: #fff;
}
footer .footer1 p {
  margin-top: 30px;
}
footer .footer2 h4 {
  color: #ff8013;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 40px auto;
}



footer::before {
  content: "";
  position: absolute;
  border: 3px solid #ff8013;
  width: 100%;
  left: 0;
}
